<meta charset="utf-8">
<title>i'm djo</title>
<meta name="description" content="">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="manifest" href="../site.webmanifest">-->
<link rel="icon" href="/images/bogoss.ico"/>
<!-- Place favicon.ico in the root directory -->
<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles/mainbasic-html1.0.0_2019-08-12.css">
<!--<script src="js/component/pace.min.js"></script>-->
