<!DOCTYPE html>
<html lang="fr">
<head>
    <% include partials/head %>
</head>
<body id="test" data-barba="wrapper">
<header>
    <div class="transition__wipe"></div>
</header>
<main data-barba="container" data-barba-namespace="home">
    <a href="/">baack</a>

    <h1 style="margin-top:25px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque debitis delectus dolorum eius error hic in, iste libero nam, obcaecati quod similique temporibus ut voluptatem! Error exercitationem nesciunt nobis.</h1>
</main>
<footer>
</footer>
<%include partials/script.ejs%>
</body>