<!doctype html>
<html class="no-js" lang="fr">
<head>
 <%include partials/head.ejs%>
</head>
<body data-barba="wrapper" class="det">
<header>
    <div class="transition__wipe"></div>
</header>
    <div data-barba="container" data-barba-namespace="home" id="container">
    <button id="dp">
        <img class="dp" src="images/menu1.png" alt=""/>
    </button>
        <div id="home">
<!--            <a  href="/insta"><button style="top:10%;padding: 15px ; background-color: #b42c2c;display:block;position:absolute;z-index:100;">goooo </button></a>&lt;!&ndash;  INNER &ndash;&gt;-->
<!--            <a  href="/contact"><button style="top:20%;padding: 15px ; background-color:salmon;display:block;position:absolute;z-index:100;">gaaa </button></a>&lt;!&ndash;  INNER &ndash;&gt;-->
                <div id="tableau">
                    <div id='' class="inner"  data-pointer-events="true">
<!--                        <h1  class="animated bounceInLeft">-->
<!--                                <span class="fetch">-->
<!--                                    <span>h</span>-->
<!--                                    <span>e</span>-->
<!--                                    <span>l</span>-->
<!--                                    <span>l</span>-->
<!--                                    <span>o</span>-->
<!--                                    <span></span>-->
<!--                                    </span>-->
<!--                            i'm ,-->
<!--                            <span class="dot">djo</span></h1>-->

                        <div class="menu">
                            <ul class="tit">
                                <li class="con">contact <img src="/images/fleche.png" alt="fleche"></li>
                                <li class="pro"> à propos<img src="/images/fleche.png" alt="fleche"></li>
                                <li class="apro">projets<img src="/images/fleche.png" alt="fleche"></li>
                                <li class="com">compétences <img src="/images/fleche.png" alt="fleche"></li>
                                <li class="cv">cv <img src="/images/fleche.png" alt="fleche"></li>
                            </ul>
                        </div>
<!--                        ***************************************LUMIERE***********************************************-->

<!--                        <div class="light"></div>-->

                        <!--                        ***************************************FENETRE***********************************************-->

                        <div class="windows" data-depth="0.2">
                            <canvas id="canvas" width="233" height="330"></canvas>
                        </div>

                        <!--                        ***************************************SOFA***********************************************-->

                        <div class="sofa" data-depth="0.3"></div>
                        <div class="carpet"></div>


                        <!--                        ***************************************HORLOGE***********************************************-->

                        <div class="clocki " data-depth="0.2">
                            <div class="klo">
                                <div class="clock">
                                    <div class="minute-hand"></div>
                                    <div class="hour-hand"></div>
                                    <div class="second-hand"></div>
                                    <div class="pin"></div>
                                </div>
                                <div class="time"></div>
                            </div>
                        </div>


                        <!--                        ***************************************WORK***********************************************-->


<!--                        <div class="work" data-depth="0.2">-->
<!--                            <button class="btn_nav about_link">-->
<!--                                <img src="images/affiche.png" alt="projets">-->
<!--                            </button>-->
<!--                        </div>-->


                        <!--                        ***************************************PRINT***********************************************-->

<!--                        <div class="print" data-depth="0.2"></div>-->



                        <!--                        ***************************************MODEM***********************************************-->

                    <div class="modem-content">
                        <div class="modem" data-depth="0.2">
        <div class="m1">
            <div class="holder">
                <div class="shifter">
                    <i class="i_l25">
                        <i class="p_r i_g"><div id="mn_0" class="p_a q_f i_l50"></div></i>
                        <i class="p_r i_g"><div id="mn_1" class="p_a q_f i_l50"></div></i>
                        <i class="p_r i_g"><div id="mn_2" class="p_a q_f i_l50"></div></i>
                        <i class="p_r i_r"><div id="mn_7" class="p_a q_f i_l50 i_t"></div></i>
                        <i class="p_r i_o"><div id="mn_3" class="p_a q_f i_l50"></div></i>
                    </i>
                </div>
            </div>
        </div>
        <!--                            <div class="an">-->
        <!--                            </div>-->
    </div>
                    </div>



                        <!--                        ***************************************INTERRUPTEUR***********************************************-->


<!--                        <div id="inte" class="inte"></div>-->


                        <!--                        ***************************************PRISE***********************************************-->


<!--                        <div class="prise"></div>-->




                        <!--                        ***************************************CV***********************************************-->


<!--                        <a href="/giovanny_pied_cv.pdf"><div class=""></div></a>-->


                        <!--                        ***************************************PANIER***********************************************-->

<!--                        <div class="bball" data-depth="0.3"></div>-->

                        <!--                        ***************************************ROCKET***********************************************-->

<!--                        <div class="burst">-->
<!--                            <div class="rocket"></div>-->
<!--                            <div class="fire"></div>-->

<!--                            <div class="bfire"></div>-->
<!--                        </div>-->


                        <!--                        ***************************************DESK***********************************************-->


                        <div data-depth="0.2"  class="bureau ">


                        </div>
                        <div class="deskLamp"></div>
                        <div class="hp"></div>
                        <div class="hot-sign"></div>
                        <div class="cofee"></div>
                        <!--                        ***************************************MOI***********************************************-->

<!--                        <div class="me-gth"></div>-->


                        <!--                        ***************************************GSM***********************************************-->

                        <!--                        <div data-depth="0.2" class="gsm btn_nav contact_link  dwet det">-->
<!--                            <button class="">-->
<!--                            </button>-->
<!--                        </div>-->

                        <!--                        ***************************************AMOIRE***********************************************-->


                        <div class="boxit" data-clip-relative-input="true" data-depth="0.2"></div>


                        <!--                        ***************************************ECRAN***********************************************-->

                        <div class="mac" data-depth="0.2">
                            <div class="whoim">
                                <button class="btn_nav projects_link">
                                    <div class="ecrit">
                                        <span id="typed"></span>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="macpro"></div>

                    </div>
                    <div id="wall">
                        <div class="content-wall"></div>
                    </div>
                     <div id="cornice">
                     </div>
                    <div id="ground">
                    </div>
                </div>
        </div>
<!--        <div id="footer">-->
<!--            <div class="inner">-->
<!--                <p>© 2014 - pied Giovanny- code & design par moi.</p>-->
<!--            </div>-->
<!--        </div>-->
    </div>

<%include partials/script.ejs%>
<script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
