<!doctype html>
<html class="no-js" lang="fr">
<head>
 <%include partials/head.ejs%>
</head>
<!--<body  onload="init();" data-barba="wrapper" class="det">-->
<body   data-barba="wrapper" class="det ">
<header>
    <div class="transition__wipe"></div>
</header>
    <div data-barba="container" data-barba-namespace="home" id="container">
<!--    <button id="dp">-->
<!--        <img class="dp" src="images/menu1.png" alt=""/>-->
<!--    </button>-->
        <div class="timeleft">

            <div class="glow">
                <div class="content-glow"></div>
                <p> &#60; HelloWorld ! &#62;</p>
            </div>
        </div>
        <div id="home">
            <a  href="/insta"><button style="top:10%;padding: 15px ; background-color: #b42c2c;display:block;position:absolute;z-index:100;">goooo </button></a><!--  INNER -->
<!--            <a  href="/contact"><button style="top:20%;padding: 15px ; background-color:salmon;display:block;position:absolute;z-index:100;">gaaa </button></a>&lt;!&ndash;  INNER &ndash;&gt;-->
                <div id="tableau">

                    <div id='scene' class="inner"  data-pointer-events="true">
<!--                        <h1  class="animated bounceInLeft">-->
<!--                                <span class="fetch">-->
<!--                                    <span>h</span>-->
<!--                                    <span>e</span>-->
<!--                                    <span>l</span>-->
<!--                                    <span>l</span>-->
<!--                                    <span>o</span>-->
<!--                                    <span></span>-->
<!--                                    </span>-->
<!--                            i'm ,-->
<!--                            <span class="dot">djo</span></h1>-->

                        <div class="menu">
                            <ul class="tit">
                                <li class="con">contact <img src="/images/fleche.png" alt="fleche"></li>
                                <li class="pro"> à propos<img src="/images/fleche.png" alt="fleche"></li>
                                <li class="apro">projets<img src="/images/fleche.png" alt="fleche"></li>
                                <li class="com">compétences <img src="/images/fleche.png" alt="fleche"></li>
                                <li class="cv">cv <img src="/images/fleche.png" alt="fleche"></li>
                            </ul>
                        </div>
<!--                        ***************************************LUMIERE***********************************************-->

                        <div class="light" ></div>
                        <!--                        ***************************************FENETRE***********************************************-->
                        <div class="bar" ></div>
                        <div class="rideau"></div>
                        <div class="winAnim">
                            <div class="scene"></div>
                            <div class="cloud"></div>
                            <div class="cloudTwo"></div>
                            <div class="subway"></div>
                            <div class="bridge"></div>
                            <div class="stockFire">
                                <div class="fireS"></div>
                            </div>
                            <div class="jeep"></div>
                            <div class="family"></div>
                            <div class="poste"></div>
                            <div class="twingo"></div>
                            <div class="supercar"></div>
                            <div class="suv"></div>
                            <div class="cam"></div>
                            <div class="bache"></div>
                            <div class="sedan"></div>
                            <div class="tee"></div>
                            <div class="dodge"></div>
                            <div class="jeepTwo"></div>
                            <div class="shutter"></div>
                            <div class="window"></div>
                            <div class="me-gth"></div>
                        </div>


                        <!--                        ***************************************HORLOGE***********************************************-->

                        <div class="clocki " >
                            <div class="klo">
                                <div class="clock">
                                    <div class="minute-hand"></div>
                                    <div class="hour-hand"></div>
                                    <div class="second-hand"></div>
                                    <div class="pin"></div>
                                </div>
                                <div class="time"></div>
                            </div>
                        </div>


                        <!--                        ***************************************WORK***********************************************-->


<!--                        <div class="work" data-depth="0.2">-->
<!--                            <button class="btn_nav about_link">-->
<!--                                <img src="images/affiche.png" alt="projets">-->
<!--                            </button>-->
<!--                        </div>-->


                        <!--                        ***************************************PRINT***********************************************-->

                        <div class="print" ></div>






                        <!--                        ***************************************INTERRUPTEUR***********************************************-->


                        <div id="inte" class="inte"></div>


                        <!--                        ***************************************PRISE***********************************************-->


<!--                        <div class="prise"></div>-->



                        <!--                        ***************************************AMOIRE***********************************************-->


                        <div class="boxit" data-clip-relative-input="true"></div>

                        <!--                        ***************************************CV***********************************************-->


<!--                        <a href="/giovanny_pied_cv.pdf"><div class=""></div></a>-->


                        <!--                        ***************************************PANIER***********************************************-->


                        <div class="bball" ></div>
                        <div class="content-trash">
                            <div class="corbeille"></div>
                            <div class="ball"></div>
                        </div>

                        <!--                        ***************************************ROCKET***********************************************-->

                        <div class="burst">
                            <div class="rocket"></div>
                            <div class="fire"></div>
                            <div class="bfire"></div>
                        </div>
                        <div id="smoke" >
                            <span class="s0"></span>
                            <span class="s1"></span>
                            <span class="s2"></span>
                            <span class="s3"></span>
                            <span class="s4"></span>
                            <span class="s5"></span>
                            <span class="s6"></span>
                            <span class="s7"></span>
                            <span class="s8"></span>
                            <span class="s9"></span>
                            <span class="s10"></span>
                            <span class="s11"></span>
                            <span class="s12"></span>
                            <span class="s13"></span>
                            <span class="s14"></span>
                            <span class="s15"></span>
                            <span class="s16"></span>
                            <span class="s17"></span>
                            <span class="s18"></span>
                            <span class="s19"></span>
                        </div>
                        <div id="vivacity" style="z-index: 100;" data-pointer-events="true">



                            <!--                        ***************************************SOFA***********************************************-->

                            <div class="sofa" data-depth="0.4" ></div>
                            <div class="carpet" data-depth="0.3"></div>


                            <!--                        ***************************************DESK***********************************************-->

                            <div class="table" data-depth="0.3"></div>
                            <div data-depth="0.2"  class="bureau ">
                            </div>
                            <div class="deskLamp"  data-depth="0.2"></div>
                            <div class="hp" data-depth="0.2"></div>
                            <div class="hot-sign" data-depth="0.2"></div>
                            <div class="cofee" data-depth="0.2"></div>


                            <!--                        ***************************************MODEM***********************************************-->
                            <div class="modem-content" data-depth="0.2">
                                <div class="modem">
                                    <div class="m1">
                                        <div class="holder"><div class="shifter">
                                                <i class="i_l25">
                                                    <i class="p_r i_g"><div id="mn_0" class="p_a q_f i_l50"></div></i>
                                                    <i class="p_r i_g"><div id="mn_1" class="p_a q_f i_l50"></div></i>
                                                    <i class="p_r i_g"><div id="mn_2" class="p_a q_f i_l50"></div></i>
                                                    <i class="p_r i_r"><div id="mn_7" class="p_a q_f i_l50 i_t"></div></i>
                                                    <i class="p_r i_o"><div id="mn_3" class="p_a q_f i_l50"></div></i>
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--                            <div class="an">-->
                                    <!--                            </div>-->
                                </div>
                            </div>

                            <!--                        ***************************************MOI***********************************************-->




                            <!--                        ***************************************GSM***********************************************-->

                            <!--                        <div data-depth="0.2" class="gsm btn_nav contact_link  dwet det">-->

                            <!--                        </div>-->
                            <div class="port" data-depth="0.3" >
                                <div class="gsm det">
                            </div>


                            </div>
                            <div class="holiday" data-depth="0.3">
                                <a  href="/insta"></a>
                            </div>


                            <!--                        ***************************************ECRAN***********************************************-->

                            <div class="mac" data-depth="0.2">
                                <div class="whoim">
                                    <button class="btn_nav projects_link">
                                        <div class="ecrit">
                                            <span id="typed"></span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div class="macpro" data-depth="0.2"></div>
                        </div>


                    </div>
                    <div id="wall">
                        <div class="content-wall"></div>
                    </div>
                     <div id="cornice">
                     </div>
                    <div id="ground">
                    </div>
                </div>
        </div>
<!--        <div id="footer">-->
<!--            <div class="inner">-->
<!--                <p>© 2014 - pied Giovanny- code & design par moi.</p>-->
<!--            </div>-->
<!--        </div>-->
    </div>
<!---CURSORS--->
<div class="cursor">
    <div class='your-cursor4'></div>
    <div class='your-cursor4'></div>
    <div class='your-cursor4'></div>
</div>

<%include partials/script.ejs%>
<script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
