<!DOCTYPE html>
<html lang="fr" id="real" >
<head>
    <% include partials/head-one %>
</head>
<body id="insta" data-barba="wrapper">
<header>
    <div class="transition__wipe"></div>
</header>
<main  class="content" data-barba="container" data-barba-namespace="insta">
    <a href="/">baack</a>
    <%  include partials/loading %>
<!--    <div id="scene">-->
<!--        <% for (var key in insta) { %>-->
<!--            <div data-depth="1.00" class="content_img">-->
<!--                <img   src="<%= insta[key].images.standard_resolution.url%>"  alt="">-->
<!--                <div class="tag">#<%=insta[key].tags[0]%></div>-->
<!--            </div>-->
<!--        <% } %>-->
<!--    </div>-->
</main>
<footer>
</footer>
<%include partials/script.ejs%>
<script src="js/component/tiltfx.js"></script>
</body>