<!doctype html>
<html class="no-js" lang="fr">
<head>
    <%include partials/head.ejs%>
</head>
<!--<body  onload="init();" data-barba="wrapper" class="det">-->
<body   data-barba="wrapper" class="det ">
<header>
    <div class="transition__wipe"></div>
</header>
<div data-barba="container" data-barba-namespace="home" id="container">
    <div id="home">
        <div id="tableau">
            <div id='scene' class="inner"  data-pointer-events="true">
                <div class="bar" ></div>
                <div class="rideau"></div>
                <div class="winAnim">
                    <div class="scene"></div>
                    <div class="cloud"></div>
                    <div class="cloudTwo"></div>
                    <div class="subway"></div>
                    <div class="bridge"></div>
                    <div class="stockFire">
                        <div class="fireS"></div>
                    </div>
                    <div class="jeep"></div>
                    <div class="family"></div>
                    <div class="poste"></div>
                    <div class="twingo"></div>
                    <div class="supercar"></div>
                    <div class="suv"></div>
                    <div class="cam"></div>
                    <div class="bache"></div>
                    <div class="sedan"></div>
                    <div class="tee"></div>
                    <div class="dodge"></div>
                    <div class="jeepTwo"></div>
                    <div class="shutter"></div>
                    <div class="window"></div>
                    <div class="me-gth"></div>
                </div>
            </div>
            <div id="wall">
                <div class="content-wall"></div>
            </div>
            <div id="cornice">
            </div>
            <div id="ground">
            </div>
        </div>
    </div>

</div>
<%include partials/script.ejs%>
<script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
