

  .hot-sign {
    width: 9px;
    height: 37px;
    background: #EDF8F4;
    border-radius: 100% 0% 100% 0%;
    filter: blur(1px);
    animation: hot 4s 1s infinite ease-out backwards;
    position: absolute;
    /* top: -150%; */
    left: 76%;
    bottom: 147px;
    z-index: 30;
  &:before  {
    display: block;
    content: '';
    width: 9px;
    height: 37px;
    background: #EDF8F4;
    border-radius: 100% 0% 100% 0%;
    animation: hot 4s 2s infinite ease-out backwards;
    position: absolute;
    top: 0;
    left: -130%;
  }
  &:after  {
    display: block;
    content: '';
    width: 9px;
    height: 37px;
    background: #EDF8F4;
    border-radius: 100% 0% 100% 0%;
    animation: hot 4s 2.5s infinite ease-out backwards;
    position: absolute;
    top: 0%; left: 130%;
  }
}

@keyframes hot {

  from {
    transform: translate(-0px,20px);
    opacity: .2;
  }


  50% {
    transform: translate(0px,-28px);
    opacity: .45;
  }


  to {
    transform: translate(-0px,-28px);
    opacity: .1;
  }
}


