

  .hot-sign {
    width: 9px;
    height: 37px;
    background: #EDF8F4;
    border-radius: 100% 0% 100% 0%;
    filter: blur(1px);
    animation: hot 4s 1s infinite ease-out backwards;
    position: absolute;
    top:  inherit !important;
    right:  inherit !important;
    left: 76% !important  ;
    bottom: 147px !important;
    z-index: 30;
  &:before  {
    display: block;
    content: '';
    width: 9px;
    height: 37px;
    background: #EDF8F4;
    border-radius: 100% 0% 100% 0%;
    animation: hot 4s 2s infinite ease-out backwards;
    position: absolute;
    top: 0;
    left: -130%;
  }
  &:after  {
    display: block;
    content: '';
    width: 9px;
    height: 37px;
    background: #EDF8F4;
    border-radius: 100% 0% 100% 0%;
    animation: hot 4s 2.5s infinite ease-out backwards;
    position: absolute;
    top: 0%; left: 130%;
  }
}

@keyframes hot {

  from {
    transform: translate(-0px,20px);
    opacity: .2;
  }


  50% {
    transform: translate(0px,-28px);
    opacity: .45;
  }


  to {
    transform: translate(-0px,-28px);
    opacity: .1;
  }
}

.shutter{
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../images/windows/shtutter.png) no-repeat center;
  background-size: 100%;
  z-index: 70;
}
