#contact-content{
  height: 100%;
  display: grid;
  grid-template-areas: "left right"
                                          "footer footer" ;
  grid-template-columns: 40% 60%;
  grid-template-rows:95% 5%;
  .contact-con{
      p{
        margin: 10px 0;
        padding: 5px;
        text-align: left;
      }
  }
  .social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;

    &__button {
      margin: 10px 5px 0;
    }
  }
  section{
      &:first-of-type{
          grid-area: left;
      }
    &:last-of-type{
      grid-area: right;
      background: #eaeef3;
      display: grid;
       grid-template-columns:repeat(2,1fr);
      padding: 50px 0px;
      .phone-dt{
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 600px;
        background-color:white;
        border-radius: 25px;
        align-self: start;
        justify-self: center;
        box-shadow: 0 1px 1px rgba(0,0,0,0.11),
        0 2px 2px rgba(0,0,0,0.11),
        0 4px 4px rgba(0,0,0,0.11),
        0 8px 8px rgba(0,0,0,0.11),
        0 16px 16px rgba(0,0,0,0.11),
        0 32px 32px rgba(0,0,0,0.11);
        display: grid;
        grid-template-rows: 5% 85% 10%;
        .screen{
          overflow: auto;
          #timeline{
            width: 100%;
            overflow: auto;
          }
          #timeline-insta{
            .card-insta{
              margin-bottom:20px;
              .insta-header{
                padding: 5px 10px;
                img{
                  width: 25px;
                  border-radius:50px;
                  float: left;
                  margin-right: 5px;
                }
                .user{
                  p{
                    font-weight: bold !important;
                  }
                  .location{
                    font-size: 11px;
                    font-weight: 500;
                  }
                }

              }
              .insta-content{
                img{
                  width: 100%;
                }
              }
              .insta-footer{
                padding: 5px;
                p{
                  font-weight: 700;
                  span{
                    margin-left: 5px;
                    font-size: 14px;
                    font-weight: 500;
                  }
                }
                .tag {
                  margin-top: 5px;

                }
              }

            }
          }
        }

        &:last-of-type{
          grid-template-rows: 10% 90%;
          justify-self: left;
          align-self: end;
          .phone-border-top{
            border-bottom: 1px solid #f3f3f3;
          }
          p{
            text-align: center;
            line-height: 60px;
          }
        }
      }
    }
  }
  footer{
    background-color:#31353a;
    background-image:-webkit-linear-gradient(top, #31353a, #2f3337);
    background-image:-moz-linear-gradient(top, #31353a, #2f3337);
    background-image:linear-gradient(top, #31353a, #2f3337);
    grid-area: footer;
    p{
      font-family: 'jochamregular';
      color:#fff;
      font-size: 20px;
      text-align: center;
      padding-top: 10px;
    }
  }
}