#contact-content{
  height: 100%;
  display: grid;
  grid-template-areas: "left right"
                                          "footer footer" ;
  grid-template-columns: 40% 60%;
  grid-template-rows:95% 5%;

  .contact-con{
      p{
        margin: 10px 0;
        padding: 5px;
        text-align: left;
      }
  }
  .social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;

    &__button {
      margin: 10px 5px 0;
      cursor:pointer;
    }
  }
  section{
      &:first-of-type{
          grid-area: left;
      }
    &:last-of-type{
      grid-area: right;
      background: #eaeef3;
      display: grid;
       grid-template-columns:repeat(2,1fr);
      padding: 50px 0px;
      .phone-dt{
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 600px;
        background-color:white;
        border-radius: 25px;
        align-self: start;
        justify-self: center;
        box-shadow: 0 1px 1px rgba(0,0,0,0.11),
        0 2px 2px rgba(0,0,0,0.11),
        0 4px 4px rgba(0,0,0,0.11),
        0 8px 8px rgba(0,0,0,0.11),
        0 16px 16px rgba(0,0,0,0.11),
        0 32px 32px rgba(0,0,0,0.11);
        display: grid;
        grid-template-rows: 5% 85% 10%;
        .screen{
          overflow: auto;
          position: relative;
          #timeline{
            width: 100%;
            overflow: auto;
            .wid{
              position: fixed;
            }
          }
          #home{
            height: 100%;
            .LI-profile-badge{
              height: 100% !important;
              background: #303336;
            }
          }

          #timeline-insta{
            background-color: white;
            .card-insta{
              margin-bottom:20px;
              color: #0B0A0A;
              .insta-header{
                padding: 5px 10px;
                img{
                  width: 25px;
                  border-radius:50px;
                  float: left;
                  margin-right: 5px;
                }
                .user{
                  p{
                    font-weight: bold !important;
                  }
                  .location{
                    font-size: 11px;
                    font-weight: 500;
                  }
                }

              }
              .insta-content{
                img{
                  width: 100%;
                }
              }
              .insta-footer{
                padding: 5px;
                p{
                  font-weight: 700;
                  span{
                    margin-left: 5px;
                    font-size: 14px;
                    font-weight: 500;
                  }
                }
                .tag {
                  margin-top: 5px;

                }
              }

            }
          }
          .contact{
            padding:10px;
            height: 100%;
            .toolbar-form{
              color: black;
              display: grid;
              justify-items: center;
              align-items: center;
              grid-template-columns: 4fr repeat(2, 1fr);
              grid-template-rows: 1fr;
              grid-column-gap: 0px;
              grid-row-gap: 0px;
              margin-bottom: 25px;
              p{
                font-size: 20px;
                justify-self: start;
              }
              i{
                color: #646468;
              }
            }
            ::placeholder {
              color: #9da1a4  !important;
              opacity: 1; /* Firefox */
            }
            fieldset{
              display: grid;
              grid-template-rows: repeat( 3,1fr) 8fr ;
              .form-group{
                display: grid;
                grid-template-columns: 1fr 4fr;
                border-bottom: 1px solid #f3f3f3;
                margin-bottom: 0;
                align-items: center;
                min-height: 40px;
              }

              input,textarea{
                border: none;
                width: 100%;
                height: 100%;
                text-decortation:none;
                color: black;
              }
              textarea{
                margin-top: 10px;
                resize: none;
                height: 90%;
              }
            }


            form{
              overflow: hidden;
              opacity: 0;
            }
            form,fieldset{
              height: 100%;
            }
            #select_link{

            }
            background: white;
            b {
              position: absolute;
              top: calc(50% - 26px);
              left: 50%;
              transform: translateX(-50%);
              font-family: arial,sans-serif;
            }
            .loader-gmail {
              position: absolute;
              top: calc(50% - 6px);
              left: calc(50% - 160px);
            }
            a {
              font-family: arial,sans-serif;
              font-weight: 600;
              font-size: 0.9rem;
              text-decoration: none;
              position: fixed;
              bottom: 0;
              right: 0;
              margin: 5px;
              color: #333;
            }
            a:hover {
              color: #777;
            }
            /* Demo specific styles end */
            .loader-gmail {
              border: 1px solid #a4a4a4;
              width: 320px;
              height: 8px;
              background-image: linear-gradient(135deg, #6187f2 0%, #6187f2 25%, #5679da 25%, #5679da 50%, #6187f2 50%, #6187f2 75%, #5679da 75%, #5679da 100%);
              background-repeat: repeat;
              background-position: 0px 0px;
              background-size: 16px 16px;
              background-clip: content-box;
              padding: 1px;
              animation: loading 1s linear infinite;
            }
            .loader-gmail:after {
              position: absolute;
              right: 0;
              height: 8px;
              background: rgb(245,245,245);
              z-index: 20;
              animation: progress 4s ease-in-out infinite;
              content: '';
            }
            @keyframes loading {
              from {
                background-position: 0px 0px;
              }
              to {
                background-position: -16px 0px;
              }
            }
            @keyframes progress {
              0% {
                min-width: 100%;
              }
              30% {
                min-width: 80%;
              }
              50% {
                min-width: 65%;
              }
              69% {
                min-width: 20%;
              }
              85% {
                min-width: 0;
              }
              100% {
                min-width: 0;
              }
            }
          }
        }
        .phone-border-bottom{
          padding-top: 5px;
        }
        &:last-of-type{
          grid-template-rows: 10% 90%;
          justify-self: left;
          align-self: end;
          .phone-border-top{
            border-bottom: 1px solid #f3f3f3;
            display: flex;
            justify-content: center;
            position: relative;
            .message-title{
              color: #324192;
              width: 70px;
              height: 70px;
              border-radius: 50%;
              background: white;
              position: absolute;
              top: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          p{
            text-align: center;
            line-height: 60px;
          }
        }
      }
    }
  }
  footer{
    background-color:#31353a;
    background-image:-webkit-linear-gradient(top, #31353a, #2f3337);
    background-image:-moz-linear-gradient(top, #31353a, #2f3337);
    background-image:linear-gradient(top, #31353a, #2f3337);
    grid-area: footer;
    p{
      font-family: 'jochamregular';
      color:#fff;
      font-size: 20px;
      text-align: center;
      padding-top: 10px;
    }
  }
}