
/*--Example 4--*/

.your-cursor4 {
  position: absolute;
  height: 15px;
  width: 15px;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  user-select: none;
  pointer-events: none;
}
.your-cursor4 {
  background-color: #d32f2f;
  z-index: 7;
}
.your-cursor4:nth-child(1) {
  background-color: #ff6659;
  z-index: 5;
  width: 20px;
  height: 20px;
}
.your-cursor4:nth-child(2) {
  background-color: #9a0007;
  z-index: 10;
  width: 6px;
  height: 6px;
}